NEXT_PUBLIC_PROGRAM_ID=0xc1610de24425cb3644db9e701b62d97ffb12bc84e0fc60cef28ed2007ce13eae
NEXT_PUBLIC_IDL_URL=/idl/varanest.idl
NEXT_PUBLIC_VARA_RPC=wss://rpc.vara.network
NEXT_PUBLIC_ENABLE_MOCKS=false
